nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.nav-title {
    font-size: 55px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 0px 0px 0px;
}
.nav-subtitle {
    font-size: 15px;
    font-weight:100;
    margin-left: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 20px;
    font-family: "Myriad Pro", sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.nav-sub {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    margin-left: 10px;
    margin-top: 5px;
    font-family: "San Francisco", sans-serif;
}

main {
    margin-left: 270px;
    padding: 40px;
}



.about_picture {
    height: 100%;
    width: 100%;
}




.section {
    margin: 40px auto;
    min-height: 100px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2); /* can change later the transparency */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.weak-texts {
    color: #666;
}
.about {
    width: 90%;
    height: 100%;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
}

.about, .skills p {
    line-height: 1.5;
    font-size: 0.8em;
    margin: 10px 20px 10px 10px;
    padding: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 90%;
    max-width: 100%;
    margin: 20px auto;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.pimg {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.project img.pimg {
    height: 80%;
    width: 80%;
    transition: transform 0.3s ease;
}

.project img.pimg:hover {
    transform: scale(1.05);
}
.project {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.project h3 {
    font-size: 1.25rem;
    margin-bottom: 0px;
}
.project p {
    line-height: 1.5;
    font-size: 0.8em;
    margin: 0px 20px 5px 10px;
    padding: 10px;
}

/* default for links */
a {
    font-weight: bold;
    color: #333; 
    text-decoration: none; 
    transition: transform 0.1s ease; 
  }
  

  a:visited {
    color: 333;
  }
  

  a:hover {
    transform: scale(1.2); 
    color: #ff6600; 
    text-decoration: underline; 
  }

* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}